<div id="buttons">
  <div class="link">
    <a id="new_bill" href="#bills/new">Add New Bill</a>
  </div>
  <div class="link">
    <a id="new_payment" href="#payments/new">Report Payment</a>
  </div>
</div>

<h4>I owe friends</h4>
<table>
  <tr>
    <th>Friends</th>
    <th>Amount</th>
  </tr>
  <% _(debts).each(function(debt) { %>
    <% if (debt[1] > 0) { %>
      <tr>
        <td><%= debt[0] %></td>
        <td>$ <%= debt[1].toFixed(2) %></td>
      </tr>
    <% } %>
  <% }); %>
</table>

<h4>Friends owe me</h4>
<table>
  <tr>
    <th>Friends</th>
    <th>Amount</th>
  </tr>
    <% _(debts).each(function(debt) { %>
    <% if (debt[1] < 0) { %>
      <tr>
        <td><%= debt[0] %></td>
        <td>$ <%= (0 - debt[1]).toFixed(2) %></td>
      </tr>
    <% } %>
  <% }); %>
</table>

<h4>Bills Summary</h4>

<table>
  <tr>
    <th>Who Paid</th>
    <th>Members</th>
    <th>Description</th>
    <th>Bill Total</th>
  </tr>

  <% bills.each(function(bill) { %>
    <% var payer_id = bill.escape('user_id'); %>
    <% var payer = connections.get(payer_id); %>
    <% var payer_email = (payer ? payer.escape('email') : 'Me') %>

    <% var share = parseFloat(bill.escape('amount') / (bill.get('billings').length + 1)).toFixed(2) %>

    <% if (payer_email === 'Me') { %>
      <% var share = (share - parseFloat(bill.escape('amount'))).toFixed(2) %>
    <% }; %>

    <tr class="bill_row" data-id="<%= bill.id %>">
      <td><%= payer_email %></td>
      <td><%= (bill.get('billings').length + 1) %></td>
      <td><%= bill.escape('description') %></td>
      <td>$ <%= parseFloat(bill.escape('amount')).toFixed(2) %></td>
    </tr>
  <% }); %>
</table>

