<div id="payment-history">
  <h3>Payment History</h3>

  <table id="payments-table">
    <tr>
      <th>Time Posted</th>
      <th>Payer</th>
      <th>Recipient</th>
      <th>Amount</th>
      <th></th>
    </tr>

    <% payments.each(function (payment) { %>
      <% var payer = connections.get(payment.get('payer_id')); %>
      <% var payer_email = (payer ? payer.get('email') : 'Me'); %>
      <% var recipient = connections.get(payment.get('recipient_id')); %>
      <% var recipient_email = (recipient ? recipient.get('email') : 'Me'); %>
      <% var d = new Date(payment.get('date') * 1000); %>
      <% var formatted_date =
        (d.getMonth() + 1) + "-" +
        d.getDate() + "-" +
        d.getFullYear() + "  " +
        d.getHours() + ":" +
        ('0' + d.getMinutes()).slice(-2); %>

      <tr>
        <td><%= formatted_date %></td>
        <td><%= payer_email %></td>
        <td><%= recipient_email %></td>
        <td>$ <%= parseFloat((payment.escape('amount'))).toFixed(2) %></td>
        <td>
          <a class="delete" data-id="<%= payment.id %>"href="#">
            x
            <!-- <i class="icon-remove"></i> -->
          </a>
        </td>
      </tr>
    <% }); %>

  </table>

  <div style="text-align:center; margin-top:10px">
    <a class="back" href="#">Back</a>
  </div>
</div>