<!DOCTYPE html>
<html>
<head>
  <title>Billbo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user %>
	<p>
		Welcome, <%= current_user.email %>!
		<em>
			(Not you? <%= link_to "Log out", session_url, :method => "delete" %>)
		</em>
	</p>	
	<hr>
<% end %>

<%= yield %>

</body>
</html>
