<!DOCTYPE html>
<html>
<head>
  <title>Billbo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="header">
  <div id="logo-cont">
    <div id="logo">Billbo</div>
  </div>
  <div id="header_menu">
    <% if current_user %>
      <ul>
        <li>Welcome, <%= current_user.email %>!</li>
        <li><a href="#">Home</a></li>
        <li>
          <a id="payments_history" href="#payments">Payments History</a>
        </li>
        <li>
          <%= link_to "Log out", session_url, :method => "delete" %>
        </li>
      </ul>
    <% else %>
      <p>Welcome! Please sign in or sign up.</p>
    <% end %>
  </div>
</div>

<div id="container">
  <div id="wrapper">
    <%= yield %>
  </div>
</div>

<div id="footer">
  <p>&copy; 2013 Jamie Schlessinger</p>
</div>

</body>
</html>
